{% extends 'dash/base.html' %}
{% load static %}

{% block main %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="colEmpty">
                        <h3 class="page-title">CRM</h3>

                    </div>
                    <div class="col-auto">
                        <a href="add-customer.html" class="btn btn-primary me-1">
                            <i class="fas fa-plus"></i>
                        </a>

                    </div>
                </div>
            </div>

            <div id="filter_inputs" class="card filter-card">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col s12 m6 l3 ml-0">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 ml-0">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 ml-0">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="responsive-table">
                                <table class="table table-center table-hover datatable">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Customer</th>
                                        <th>Email</th>
                                        <th>Amount Due</th>
                                        <th>Registered On</th>
                                        <th>Status</th>
                                        <th class="right-align">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm me-2">
                                                    <img class="avatar-img rounded-circle"
                                                         src="{% static 'assets_dash/img/profiles/avatar-02.jpg' %}"
                                                         alt="User Image"/>
                                                </a>
                                                <a href="profile.html">
                                                    Brian Johnson
                                                    <span>9876543210</span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td>
                                            <a href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection"
                                               class="__cf_email__"
                                               data-cfemail="c0a2b2a9a1aeaaafa8aeb3afae80a5b8a1adb0aca5eea3afad">
                                                [email&#160;protected]
                                            </a>
                                        </td>
                                        <td>$295</td>
                                        <td>16 Nov 2020</td>
                                        <td>
                                                    <span class="badge badge-pill bg-success-light">
                              Active
                            </span>
                                        </td>
                                        <td class="right-align">
                                            <a href="edit-customer.html" class="btn btn-sm btn-white text-success me-2">
                                                <i class="far fa-edit me-1"></i> Edit
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-white text-danger me-2">
                                                <i class="far fa-trash-alt me-1"></i> Delete
                                            </a>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}